<div class="container">
  <div class="header-section">
  <!-- #region mobile Nav Section-->
  <h1>Board</h1>
  <div class="search-container">
      <form>
          <div class="input-search">
              <input type="text" placeholder="Name" [(ngModel)]="searchTerm" (ngModelChange)="applyFilter($event)" name="searchInput">
              <button class="magnifyin-glass">
                <img src="/icons/magnifyin-glass.svg" alt="person" />
              </button>
              <div  class="validation-message">
              </div>
          </div>
      </form>
      <div>
        <button class="btn primary" (click)="addNewTask()">
          + Add task
        </button>
      </div>
  </div>
  </div>
  <div class="grid-board">
    @for (col of filteredColumns; track col.id) {
    <div class="column">
        <div class="flex space-between">
          <h4>{{ col.title }}</h4> <button class=" add-icon"(click)="addNewTask()">+</button></div>
        <div
          cdkDropList
          [cdkDropListData]="col.tasks"
          [cdkDropListConnectedTo]="connectedDropLists"
          class="drop-list"
          (cdkDropListDropped)="drop($event)"
          [id]="col.id"
          >
          @if (col.tasks.length === 0) {
          <div class="empty-column-message">
            No tasks yet. Drag tasks here.
          </div>
          }
          @for (task of col.tasks; track task.id) {
          <div class="card flex column" cdkDrag (click)="selectTask(task)">
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <div class=""><span class="category" [ngClass]="getCategoryClass(task.category)"> {{ task.category }}</span></div>
            <div class="task-title"><h4> {{ task.title }}</h4></div>
            <div class="description">{{ task.description }}</div>
            @if (task.subtasks && task.subtasks.length > 0) {
              <mat-progress-bar mode="determinate" [value]="getSubtaskProgress(task)"></mat-progress-bar>
              <div class="flex subtask-progress">
                <span>{{ getCompletedSubtasks(task) }}/{{ task.subtasks.length }} Subtasks</span>
              </div>
            }
            <div class="flex space-between align-center">
                <div class="flex assigned-contacts">
                    @for (contactId of task.assignedTo; track contactId) {
                      <div class="circle-initials" [style.backgroundColor]="getColor(getContactName(contactId))">
                        {{ getInitials(getContactName(contactId)) }}
                      </div>
                    }
              </div>
              <div class="priority-indicator">
                <span>{{ task.priority }}</span>
                <img [src]="getPriorityIcon(task.priority)" [alt]="task.priority + ' priority'" class="priority-icon-small">
              </div>
            </div>
          </div>
          }
        </div>
    </div>
    }
  </div>
  
  @if (isSelected && selectedTask) {
    <div class="overlay">
      <app-task-detail [selectedTask]="selectedTask" (close)="closeOverlay()"></app-task-detail>
    </div>
  }