<div class="container">
  <div class="header-section">
  <!-- #region mobile Nav Section-->
  <h1>Board</h1>
  <div class="search-container">
      <form>
          <div class="input-search">
              <input type="text" placeholder="Name" [(ngModel)]="searchTerm" (ngModelChange)="applyFilter($event)" name="searchInput">
              <button class="magnifyin-glass">
                <img src="/icons/magnifyin-glass.svg" alt="person" />
              </button>
              <div  class="validation-message">
              </div>
          </div>
      </form>
      <div>
        <button class="btn primary" (click)="addNewTask()">
          + Add task
        </button>
      </div>
  </div>
  </div>
  <div class="grid-board">
    @for (col of filteredColumns; track col.id) {
    <div class="column">
        <div class="flex space-between">
          <h4>{{ col.title }}</h4> <button class=" add-icon"(click)="addNewTask()">+</button></div>
        <div
          cdkDropList
          [cdkDropListData]="col.tasks"
          [cdkDropListConnectedTo]="connectedDropLists"
          class="drop-list"
          (cdkDropListDropped)="drop($event)"
          [id]="col.id"
          >
          @if (col.tasks.length === 0) {
          <div class="empty-column-message">
            No tasks yet. Drag tasks here.
          </div>
          }
          @for (task of col.tasks; track task.id) {
          <div class="card flex column" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <div class=""><span class="category"> {{ task.category }}</span></div>
            <div class="task-title"><h4> {{ task.title }}</h4></div>
            <div class="description">{{ task.description }}</div>
              <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
            <div class="flex subtask-progress">
            <span>1/3</span>
            </div>
            <div class="flex">
                <div class="flex">
                    <div class="circle blue z-index-30">br</div>
                    <div class="circle red z-index-40">sr</div>
                    <div class="circle blue z-index-50">tm</div>
              </div>
              <div>{{ task.priority }}</div>
            </div>
          </div>
          }
        </div>
    </div>
    }
  </div>
    <ng-template #overlayTemplate>
    <div class="overlay">
      <app-task-overlay></app-task-overlay>
    </div>
  </ng-template>
  <ng-template #overlayTemplate>
    <div class="overlay">
      <app-task-detail-overlay></app-task-detail-overlay>
    </div>
  </ng-template>
</div>
