@if (breakpointObserver.isMobile()) {
  <div class="site-header">
    <img class="Logo-White" src="icons/join-logo.svg" alt="logo" />
    <div class="circle-section">
      <div class="circle-help">
        <a routerLink="/help"><span>?</span></a>
      </div>
      <div class="circle-user"
           (click)="toggleDropdown()">
        @if (user) {
          <span class="small-padding" title="{{ user.email }}">
            {{ user.email.slice(0, 2) }}
          </span>
        } @else {
          <span></span>
        }

        <!-- Dropdown Menu -->
        @if (showDropdown) {
          <div class="dropdown-menu"
               (click)="$event.stopPropagation()">
            <a class="dropdown-item" routerLink="/imprint" (click)="closeDropdown()">
              <span>Imprint</span>
            </a>
            <a class="dropdown-item" routerLink="/privacy" (click)="closeDropdown()">
              <span>Privacy Policy</span>
            </a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item logout-item" (click)="logout()">
              <span>Log out</span>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
} @else {
  <div class="site-header">
    <h1 class="text-header">Kanban Projekt Management Tool</h1>
    <div class="circle-section">
      <div class="circle-help">
        <a routerLink="/help"><span>?</span></a>
      </div>
      <div class="circle-user"
           (click)="toggleDropdown()">
        @if (user) {
          <span href="#"  title="{{ user.email }}">
            {{ user.email.slice(0, 2) }}
          </span>
        } @else {
          <span></span>
        }

        <!-- Dropdown Menu -->
        @if (showDropdown) {
          <div class="dropdown-menu"
               (click)="$event.stopPropagation()">
            <a class="dropdown-item" routerLink="/imprint" (click)="closeDropdown()">
              <span>Imprint</span>
            </a>
            <a class="dropdown-item" routerLink="/privacy" (click)="closeDropdown()">
              <span>Privacy Policy</span>
            </a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item logout-item" (click)="logout()">
              <span>Log out</span>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
}

@if (showLogin) {
  <app-login></app-login>
}

@if (showSignUp) {
  <app-sign-up></app-sign-up>
}
