@if (breakpointObserver.isMobile()) {
  <div class="site-header">
    <img class="Logo-White" src="/icons/join-logo.svg" alt="logo" />
    <div class="circle-section">
      <div class="circle-help" (click)="navigateToHelp()">
        <span>?</span>
      </div>
      <div class="circle-user">
        @if (user) {
          <a href="#" (click)="logout()" title="{{ user.email }}">
            {{ user.email.slice(0, 2) }}
          </a>
        } @else {
          <a href="#">sr</a>
        }
      </div>
    </div>
  </div>
} @else {
  <div class="site-header">
    <h1 class="text-header">Kanban Projekt Management Tool</h1>
    <div class="circle-section">
      <div class="circle-help" (click)="navigateToHelp()">
        <span>?</span>
      </div>
      <div class="circle-user">
        @if (user) {
          <a href="#" (click)="logout()" title="{{ user.email }}">
            {{ user.email.slice(0, 2) }}
          </a>
        } @else {
          <a href="#">sr</a>
        }
      </div>
    </div>
  </div>
}

@if (showLogin) {
  <app-login></app-login>
}

@if (showSignUp) {
  <app-sign-up></app-sign-up>
}
