
@use 'index' as *;

.flex{
    display: flex;
}
.flex-1{
    flex:1;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
  .parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
    padding: 10px;
    background: #eee;
  }
.grid-col-span-2{
    grid-column:span 2;
}
  .grid-3-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-2xs;
  }
.space-between{
    justify-content:space-between;
}
.container{
    margin:$spacing-3xl;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1440px;

}
.task-step-text{
    color:$color-primary;
    text-align: center;
    & h4{
        font-size: var(--font-size-lg);
    }
    &:hover{
        color:$color-white;
    }
}
.circle-primary-color{
 background: $color-primary;

 &:hover{
    background: $color-white;
 }
}
.circle-primary-color svg {
  fill: $color-gray;  // Standardfarbe
  transition: fill 0.3s;
}
.circle-primary-color:hover svg {
  fill: $color-white;  // Hover-Farbe (rot als Beispiel)
}
.circle-urgent-color{
 background: $color-accent-urgent;
 
}
.card{
    border-radius: $card-radius;
    padding: $card-padding;
    box-shadow: $card-shadow;
    background: $color-bg-card;
    gap: $spacing-sm;
    margin:$spacing-sm 0;
    &:hover{
        background: $color-primary;
    }
}
.card-circle-content{
    display:flex;
    flex-basis:100%;
    color: $color-primary;
    align-items: center;
    justify-content: center;
    &:hover{
        color:$color-white;
        transition-timing-function: ease-in-out;
        & .circle-primary-color{
            background: $color-white;
        }
    }
}
.hover-scale-btn:hover{
    transform: scale(1.1,1.1);
    transform-origin: center;
    transition: all;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}
.summery-card{
    gap: $spacing-3xl;
}
 .card-circle-content:hover svg {
  fill: $color-primary;  
}
.card-circle-content > *:hover{
    h4, h5{
        color:$color-white;
    }
}
.urgent-circle, .urgent-content {
    min-width: 172px;
    text-align: center;
}
.urgent-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h5{
        font-size: var(--font-size-base);
    }
}
.overview-gap{
    gap:$spacing-2xl;
}
.tasks-overview{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: $spacing-sm;
    padding: $spacing-2xs;
    max-width: 400px;

}
.margin-bottom{
    margin-bottom: $spacing-5xl;
}

.dashboard-container {
  display: flex;
  gap: 4rem;
  flex-wrap:wrap;
  align-items: center;
  & h4{
    font-size: var(--font-size-xl);
    font-weight: 700;
  }
  & h3{
    font-size: var(--font-size-2xl);
    color:$color-subtask-bar;
  }
}

.summary-header {
  display: flex;
  flex-wrap: wrap;
  width:auto;
  align-items: center;
    margin-bottom: $spacing-3xl;
    height:60px;
}


.greeting {
  font-size: 1.5rem;
  color: #2c3e50;
  margin-top: 2rem;
}
.overview-gap{
    gap:$spacing-base;
}
.welcome{
    height:100%;
    display:flex;
    flex-direction: column;
    & h4{
        font-weight: 300;
    }
}