@use 'index' as *;
/* =====================================
   =            Desktop           =
   ===================================== */
.page-wrapper {
  display: flex;
  width: 100%;
  height: 100svh;
}
.sidebar {
  @include center-column;
  justify-content: space-around;
  width: 232px;
  background:$color-primary;
  height: 100svh;
}
.Logo-White {
  width: 100px;
  height: 100%;
}
.nav-container {
width:100%;
}

.bottom-links {
  @include center-column;
  width: 100%;
  
}
/* =====================================
   =            Mobil           =
   ===================================== */
.page-wrapper-mobil {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: $color-primary;
  z-index: 1000;
  display: flex;
  justify-content: center;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  padding: 0.75rem $spacing-xl;
  margin-bottom:$spacing-xs;
  text-decoration: none;
  text-align: center;
  color: $color-gray;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $color-primary-dark;
    color:$color-white;
  }
  &:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &.mobile {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding: $spacing-2xs;
    font-size:0.5rem;
  }
}
.nav-text{
  margin:0 $spacing-2xs;
}