@use 'index' as *;

.flex{
    display: flex;
}
.column{
    flex-direction: column;
}

.task-detail-title{
    font-size: var(--font-size-2xl);
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100%;
    background-color: #242424b6;
    z-index:9999;
  @include center;
}
.task-detail-card{
    max-width: 550px;
    margin:0 $spacing-base;
}
h4{
    color:$color-primary;
    font-size: var(--font-size-base);
    font-weight: 400;
}
h5{
  font-size: var(--font-size-base);
  font-weight: 400;
}
  .assigned-to{
    align-items: center;
    margin-bottom: $spacing-base;
  }
  .ckeckbox-subtask{
    display: inline-block;
    width:24px;
    margin-right:$spacing-xs;
  }
  .edit-delete-section{
    display: flex;
    justify-content: flex-end;
  }
  .edit-delete{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 24px;
    margin: 0 $spacing-xs;
    gap: $spacing-2xs;
    min-width: 3rem;
  }
  .red{
    background: $color-accent-urgent;
  }
  .blue{
        background: $color-badge-userstory;
  }


  .ai-center{
    align-items: center;
    max-width: 200px;
    justify-content: space-between;
    & span{
      padding-top:1px;
    }
  }
  .rounded{
    border-radius: 50%;
  }
  .description{
    color:$color-gray;
}
.subtask-progress{
align-items: center;
gap: $spacing-xs;
}
.category{
        border-radius: $card-radius;
        padding: $spacing-2xs;
        background:$color-badge-userstory;
        font-size: var(--font-size-sm);
        color:$color-lighter-gray;
}
.user-story-clr{
    background:$color-badge-userstory;
}
.tecnical-clr{
    background:$color-medium-gray;
}
.form-control{
  display:grid;
  grid-template-columns: 10px auto;
  gap:0.5em;
}
.checkbox-container{
/* mandatory */
display: flex; /* so the label can enfold another element and placed properly */
position: relative; /* so the content can be placed absolutely */
box-sizing: border-box; /* so the padding does not affect the position of content */
/* the following are optional and up to your point of view */
padding: 0 10px;
gap:$spacing-xs;
border: 1px solid transparent;
border-radius: 0;
height: 30px;
}
.custom-checkbox {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none; /* so the operating system does nothing about rendering the element*/
display: flex; /* so it can be positioned absolutely */
position: absolute; /* so it can be placed anywhere */
background: url('/icons/checkbox.svg') no-repeat; /* this image will be shown when the state is OFF */
/* the following are optional and up to your point of view */
background-size: 20px;
border: 1px solid transparent;
width: 100%;
height: 100%;
margin: 0 ;
cursor: pointer;
}
.custom-checkbox:focus{
  border: 1px solid transparent;

}
.custom-checkbox:checked {
background: url('/icons/box-checked.svg') no-repeat;
background-size: 20px;
border: 1px solid transparent;
width: 100%;
height: 100%;
margin: 0 ;
cursor: pointer;
}
.label-for-checkbox{
  margin-left:$spacing-xl;
}
