/* Contacts Base Layout */
@use 'index' as *;

.contacts-page-container {
  display: flex;
  flex-direction: row;
  gap: 8%;
  
  @media(width < 1150px) {
    gap: 2%;
  }

  &.mobile {
    flex-direction: column;
    left: 0;
    padding: 0;
    margin-top: 0;
    gap: 4%;
  }
}

.contact-container {
  padding: 0 $spacing-md;
  box-shadow: $card-shadow;
  background: $color-white;
  height: calc(100svh - 65px);
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  
  @media(width < 860px) {
    flex: 0;
  }
  
  @media(width <= 700px) {
    max-width: 100%;
  }

  .mobile & {
    width: 100%;
    margin-bottom: $spacing-base;
    border-radius: 0;
    box-sizing: border-box;
  }

  .mobile.show-details & {
    display: none;
  }
}

.contacts-detail-container {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  
  .mobile & {
    position: relative;
    top: -100px;
    right: auto;
    width: 100%;
    margin-top: $spacing-base;
    display: none;
  }

  .mobile.show-details & {
    display: block;
    height: calc(100svh - 189px);
    padding: $spacing-base;
    margin-top: 38%;
    box-sizing: border-box;
  }
}
