@use 'index' as *;

body{
    font-family: $font-family-base;
    font-weight: 400;
    background:$color-lighter-gray;
    text-wrap: balance;
}

.mat-mdc-progress-bar {
    font-family: $font-family-base !important;
}

.mat-typography {
    font-family: $font-family-base !important;
}
a:hover{
      cursor: pointer;
}
